<div *ngIf="this.game$ | async as game" class="container_game">
  <div class="table">
    <div>
      <app-input-name
        [id]="game.id"
        [playerName]="game.player1Name"
        [player]="player.PLAYER_1"
      ></app-input-name>
    </div>
    <div>
      <h1>Id Juego</h1>
      <h2>{{ game.id }}</h2>
    </div>
    <div>
      <app-input-name
        [id]="game.id"
        [playerName]="game.player2Name"
        [player]="player.PLAYER_2"
      ></app-input-name>
    </div>
  </div>
  <div class="flex-center box">
    <app-board
      [game]="game"
      *ngIf="game.stateMatch !== stateMatch.WAITING"
    ></app-board>
    <div class="waiting" *ngIf="game.stateMatch === stateMatch.WAITING">
      Esperando Contrincante
    </div>
    <div *ngIf="game.stateMatch === stateMatch.FINISH">
      <button type="button" (click)="newGame(game.id)">
        Reiniciar Partida
      </button>
    </div>
  </div>
</div>
