<div
  class="container flex-column-center bg-image"
  *ngIf="isNewGame; else blockPop"
>
  <button type="button" (click)="startGame()">Nuevo Juego</button>
  <button type="button" (click)="toggleIsnewGame()">unirse a un juego</button>
</div>

<ng-template #blockPop>
  <div class="popWindow flex-column-center">
    <div class="container_box flex-column-center">
      <button (click)="toggleIsnewGame()">atras</button>
      <input type="text" [formControl]="inputId" placeholder="Ingrese Id " />
      <button (click)="joinGame()">Ingresar a la partida</button>
    </div>
  </div>
</ng-template>
